@using MyMiniCar.Web.Auth
@inject CartService CartService
@inject LanguageService Language
@inject IJSRuntime JS
@inject SupabaseAuthService Auth
@inject SupabaseAuthStateProvider AuthState
@inject NavigationManager Nav
@implements IDisposable

<nav class="navbar navbar-expand-lg mmc-navbar">
    <div class="container">
        <a class="navbar-brand brand" href="" aria-label="MyMiniCar home">
            <img src="MMCLogoNew.svg" alt="" class="brand-icon" />
            MyMini<span>Car</span>
        </a>

        <button class="navbar-toggler border-0 px-0" type="button" @onclick="ToggleNavMenu" aria-label='@Language.T("Toggle navigation")'>
            <i class="bi @(collapseNavMenu ? "bi-list" : "bi-x-lg")" style="font-size: 1.7rem; color: var(--ink);"></i>
        </button>

        <div class="collapse navbar-collapse @(collapseNavMenu ? "" : "show")" id="navbarNav">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link nav-link-mmc" href="" Match="NavLinkMatch.All" @onclick="CloseNavMenu">@Language.T("Home")</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link nav-link-mmc" href="products" @onclick="CloseNavMenu">@Language.T("Shop")</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link nav-link-mmc" href="convert" @onclick="CloseNavMenu">@Language.T("Studio")</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link nav-link-mmc" href="about" @onclick="CloseNavMenu">@Language.T("How it works")</NavLink>
                </li>
            </ul>
        </div>

        <div class="nav-icons">
            <a href="convert" class="btn-primary-c btn-sm-c d-none d-sm-inline-flex" @onclick="CloseNavMenu">
                <i class="bi bi-magic"></i> @Language.T("Make yours")
            </a>
            <button class="language-toggle" @onclick="ToggleLanguage" aria-label='@Language.T("Switch language")' title='@Language.T("Switch language")'>
                <span>@Language.CurrentCode</span>
                <i class="bi bi-translate"></i>
            </button>
            <button class="icon-btn" @onclick="ToggleCart" aria-label='@Language.T("Cart")'>
                <i class="bi bi-bag"></i>
                @if (CartService.GetCount() > 0)
                {
                    <span class="cart-badge">@CartService.GetCount()</span>
                }
            </button>
            <AuthorizeView>
                <Authorized>
                    <span class="nav-user d-none d-sm-inline">@context.User.FindFirst("email")?.Value</span>
                    <button class="icon-btn" @onclick="Logout" aria-label='@Language.T("Log out")' title='@Language.T("Log out")'>
                        <i class="bi bi-box-arrow-right"></i>
                    </button>
                </Authorized>
                <NotAuthorized>
                    <a href="login" class="icon-btn" @onclick="CloseNavMenu" aria-label='@Language.T("Log in")' title='@Language.T("Log in")'>
                        <i class="bi bi-person"></i>
                    </a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    protected override void OnInitialized()
    {
        CartService.OnChange += StateHasChanged;
        Language.OnChange += StateHasChanged;
    }

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
    private void CloseNavMenu() => collapseNavMenu = true;
    private void ToggleCart() => CartService.ToggleCart();

    private async Task Logout()
    {
        await Auth.LogoutAsync();
        AuthState.NotifyChanged();
        CloseNavMenu();
        Nav.NavigateTo("/");
    }
    private async Task ToggleLanguage()
    {
        Language.Toggle();
        await JS.InvokeVoidAsync("mmcSetTitle", Language.T("MyMiniCar | 3D-Printed Keychains of Your Car"));
        CloseNavMenu();
    }

    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged;
        Language.OnChange -= StateHasChanged;
    }
}
